@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primaryBlue: #022243;
  --secondaryGold: #ffc72c;
  --secondaryGreen: #00a651;
  --neutralGrey: #f5f5f5;
  /* --neutralGrey: #f5f5f5; */
  --neutralWhite: #fff;
  --neutralBlack: #222;

  /* others */
  --transition: all 0.25s linear;
  --h2: clamp(1.5rem, 1.24rem + 1.3vw, 2.25rem);
  --formText: clamp(0.84rem, calc(0.75rem + 0.49vw), 1.13rem);
  --borderRadius: 0.25rem;
  --boxShadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--neutralGrey);
  color: var(--neutralBlack);

  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  line-height: 1.25rem;

  font-size: var(--formText);
}

main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  margin-block: 0.5rem 1.5rem;
  line-height: 1.25em;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

.section {
  width: min(85%, 1440px);
  margin: 0 auto;
}

.small-text {
  font-size: 0.8rem;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* --- FORMS --- */
form {
  background-color: var(--neutralWhite);

  width: 100%;
  max-width: 500px;
  padding: 2rem 1.5rem 1rem;
  margin: 0 auto;

  border-radius: 0.5rem;
  box-shadow: var(--boxShadow);
}

.form__heading {
  margin-bottom: 0.25rem;

  text-align: center;
  font-size: clamp(1.5rem, 1.24rem + 1.3vw, 2.25rem);
  line-height: initial;
}

.underline {
  background-color: var(--primaryBlue);

  width: 20%;
  height: 1.675px;
  margin: 0 auto 1.5rem;
}

.form__section {
  display: flex;
  flex-direction: column;

  margin-block: 0.75rem;
}

.form__section label {
  font-size: var(--formText);

  margin-bottom: 1.5px;
}

.form-default {
  width: 100%;
  padding: 0.5rem 0.75rem;

  font-size: var(--formText);
  font-family: 'Open Sans', sans-serif;
  line-height: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;

  border: 1px solid #ccc;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.form-default:hover,
.form-default:focus {
  background-color: var(--neutralGrey);
}

.form__section select,
.form__section option,
textarea {
  font-size: var(--formText);

  padding: 0.25rem;
}

.form__btn {
  background-color: var(--primaryBlue);
  color: var(--neutralGrey);

  background-color: var(--secondaryGreen);
  color: var(--neutralWhite);

  width: 100%;
  padding: 0.65em 1rem;

  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;

  border: 1px solid transparent;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
}

.form__btn:hover {
  opacity: 0.75;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.75rem;
}
